*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.margin-right-xsmall {
  margin-right: 1rem;
}

.margin-right-small {
  margin-right: 2rem;
}

.margin-right-medium {
  margin-right: 3rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  position: relative;
}
.nav-bar__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.nav-bar__search__links {
  font-size: 2rem;
  position: relative;
}
.nav-bar__search__links::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  content: "";
  display: block;
  width: 0rem;
  height: 0.2rem;
  border-radius: 40rem;
  background-color: black;
  transition: 0.2s;
}
.nav-bar__search__links:hover {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.nav-bar__search__links:hover::after {
  width: 2rem;
  overflow: hidden;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: red;
  font-weight: 700;
}
.logo__word {
  margin-left: 0.6rem;
  font-size: 2.3rem;
}

.btn-white {
  padding: 1.5rem 1.5rem;
  border-radius: 40rem;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: transparent;
}
.btn-white:focus {
  outline: none;
}
.btn-white:hover:not(:last-child) {
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.btn-white:last-child {
  background-color: white;
  transition: 0.2s;
}
.btn-white:last-child:hover {
  cursor: pointer;
  box-shadow: 0rem 0.3rem 0.7rem rgba(0, 0, 0, 0.6);
}

.btn-search {
  border: none;
  position: absolute;
  right: 5%;
  padding: 2.2rem;
  border-radius: 40rem;
  cursor: pointer;
  color: white;
  background-color: rgba(183, 21, 64, 0.8);
  transition: 0.5s;
}
.btn-search:hover {
  background-color: #b71540;
}

.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: top;
  height: 65rem;
}
.header__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__search--main-box {
  display: flex;
  background-color: white;
  border-radius: 40rem;
}
.header__search--box {
  padding: 2rem 4rem;
  padding-right: 10rem;
  border-radius: 40rem;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header__search--box:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
.header__search--box:hover:not(:last-child)::after {
  background-color: transparent;
}
.header__search--box:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  right: 0%;
  width: 0.1rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__search--box-input {
  border: none;
  background-color: transparent;
}
.header__search--box-input:focus {
  outline: none;
}
.header__search--box-top {
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.header__search--box-bottom {
  font-size: 1.6rem;
  font-weight: 0;
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=main.css.map */
