@mixin search-bar {
    display: flex;
    background-color: white;
    border-radius: 40rem;
    width: 60%;
}

@mixin link-btn {
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
}

@mixin broadway-image {
    object-fit: cover;
    vertical-align: bottom;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}