.header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/header.jpg");
    background-size: cover;
    background-position: top;

    padding: 0rem 4rem;

    height: 63rem;

    &__search {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    &__slogan {
        width: 40%;
        margin-top: 15rem;
        color: white;
        padding: 3rem 4rem;
        padding-right: 16rem;
    }
}