.header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/header.jpg");
    background-size: cover;
    background-position: top;

    padding: 0rem 8rem;

    height: 61rem;

    @media (max-width:1150px) {
        padding: 0rem 4rem;
    }

    &__search {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    &__slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        height: 73%;
        width: 100%;

        & > *:not(:last-child){
            width: 25%;
        }
    }

}