.btn-white {
    padding: 1.5rem 1.5rem;
    border-radius: 40rem;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: transparent;
    
    &:not(:last-child) {
        color: white;
    }

    &:focus {
        outline: none;
    }

    &:hover:not(:last-child) {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
}

.btn-white:last-child {
    background-color: white;
    transition: .2s;

    &:hover {
        cursor: pointer;
        box-shadow: 0rem .3rem .7rem rgba(0, 0, 0, 0.6);
    }
}

.btn-search {
    border:none;
    position: absolute;
    right: 0%;
    padding: 2.2rem;
    border-radius: 40rem;
    cursor: pointer;
    color: white;
    background-color: rgba(183, 21, 64, 0.8);

    transition: .5s;

    &:hover {
        background-color: rgba(183, 21, 64, 1);
    }
}

.btn-white-explore {
    border: none;
    cursor: pointer;
    padding: 1rem 1rem;
    background-color: white;
    border-radius: 1rem;
    font-weight: 700;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}