.btn-white {
    padding: 1.5rem 1.5rem;
    border-radius: 40rem;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    background-color: transparent;
    color: white;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
}


.btn-white-profile {
    color: black;
    background-color: white;
    transition: .2s;

    &:hover {
        background-color: white;
        cursor: pointer;
        box-shadow: 0rem .3rem .7rem rgba(0, 0, 0, 0.6);
    }
}

.btn-search {
    border:none;
    position: absolute;
    right: 0%;
    padding: 2.2rem;
    border-radius: 40rem;
    cursor: pointer;
    color: white;
    background-color: rgba(183, 21, 64, 0.8);

    transition: .5s;

    &:hover {
        background-color: rgba(183, 21, 64, 1);
    }
}

.btn-white-explore {
    
    @include link-btn;

    border: none;
    background-color: white;
    color: black;

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.btn-blm {
    @include link-btn;

    border: 1px solid black;
    color: black;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}