.currencys {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0rem 2rem;

    z-index: 1000;
    background-color: white;
    width: 65%;
    height: 50rem;
    border-radius: 2rem;

    display: none;


    &__close {
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        padding: 1.4rem 0rem;

        &--exit {
            display: inline-block;
            position: relative;
            padding: 1rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
            }

            &::before {
                content: "";
                display: inline-block;
                width: 1.5rem;
                height: 1.2px;
                background-color: black;
                transform: translateX(-50%) rotate(45deg);

                position: absolute;
                top: 50%;
                left: 50%;
            }

            &::after {
                content: "";
                display: inline-block;
                width: 1.5rem;
                height: 1.2px;
                background-color: black;
                transform: translateX(-50%) rotate(-45deg);

                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }

    &__heading {
        font-size: 2.6rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 300rem;
        padding: 2.4rem 0rem;
    }

    &__choose {
        display: flex;
        flex-wrap: wrap;

        &--currency {
            font-size: 1.8rem;
            margin-right: 2.2rem;
            margin-bottom: 2.2rem;
        }
    }

}