.margin-right-xsmall {margin-right: 1rem;}
.margin-right-small {margin-right: 2rem;}
.margin-right-medium {margin-right: 3rem;}

.margin-left-small {margin-left: 2rem;}

.margin-top-xsmall {margin-top:1rem;}
.margin-top-small {margin-top: 2rem;}
.margin-top-medium {margin-top:3rem;}

.margin-bottom-xsmall {margin-bottom: 1rem;}
.margin-bottom-small {margin-bottom: 2rem;}