.main-section {
    
}

.section-cards {
    display: flex;
    justify-content: center;
    padding: 3rem 10rem;
    padding-bottom: 7rem;
}

.section-broadway {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 6rem 10rem;
}