.main-section {
    
}

.section-cards {
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem;
    padding-bottom: 7rem;

    @include media-main-padding-sides(3rem);
}

.section-broadway {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 6rem 8rem;

    @include media-main-padding-sides(6rem);
}

.section-blm {
    padding: 9rem 8rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;

    @include media-main-padding-sides(9rem);
}

.section-future-trips {
    padding: 3rem 8rem;
    height: 40rem;

    @include media-main-padding-sides(3rem);
}