.main-section {
    
}

.section-cards {
    display: flex;
    justify-content: center;
    padding: 3rem 8rem;
    padding-bottom: 7rem;
}

.section-broadway {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 6rem 8rem;
}

.section-blm {
    padding: 9rem 8rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
}

.section-future-trips {
    padding: 3rem 8rem;
    height: 40rem;
}